h1 {
  font-size: 6.4rem;
}

h2{
  font-size: 2.8rem;
}

section{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url('./../../assets/img/1_hero/JPG/hero_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}