<section>
  <h1 class="headline">OUR MENU</h1>
  <div>
    <img src="assets/img/3_section_our_menu/Png/R1.png" alt="">
    <div class="menuDetails">
      <h2>Tankotsu Ramen</h2>
      <div class="menuPricing"><span>CHICKEN</span> <span>11.95€</span></div>
      <div class="menuPricing"><span>BEEF</span> <span>12.95€</span></div>
      <div class="menuPricing"><span>SH RIMP</span> <span>13.95€</span></div>
    </div>
  </div>
  <div>
    <div class="menuDetails">
      <h2>Spicy Miso Ramen</h2>
      <div class="menuPricing"><span>CHICKEN</span> <span>11.95€</span></div>
      <div class="menuPricing"><span>BEEF</span> <span>12.95€</span></div>
      <div class="menuPricing"><span>SHRIMP</span> <span>13.95€</span></div>
    </div>
    <img src="assets/img/3_section_our_menu/Png/R2.png" alt="">

  </div>
  <div>
    <img src="assets/img/3_section_our_menu/Png/R3.png" alt="">
    <div class="menuDetails">
      <h2>Shio Ramen</h2>
      <div class="menuPricing"><span>CHICKEN</span> <span>11.95€</span></div>
      <div class="menuPricing"><span>BEEF</span> <span>12.95€</span></div>
      <div class="menuPricing"><span>SHRIMP</span> <span>13.95€</span></div>
    </div>
  </div>
</section>