section {
  margin: 12rem 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div {
  margin: 0rem 16rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  > span {
    margin-top: 6.4rem;
    width: 30rem;
    font-size: 5.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    > img {
      width: 12.8rem;
      height: 12.8rem;
    }
  }
}
